
@{
    ViewBag.Title = "Acceso denegado";
}

<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">403</h1>
            <h2>ACCESO DENEGADO</h2>
            <p>
                No tiene permisos para acceder a está funcionalidad.
            </p>
        </div>
    </div>
</div>
